services:
  komga:
    container_name: komga
    image: gotson/komga:latest
    environment:
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    ports:
      - 25600:25600
    volumes:
      - /var/lib/komga:/config
      - /mnt/data/media/Books:/data
